// write up all CSS related to page layout here

.container {
	max-width: 120rem;
	margin: 8rem auto;
	background-color: var(--color-grey-light-1);
	box-shadow: var(--shadow-dark);

	// temp size during design
	min-height: 50rem;
}

// flex container
.header {
	font-size: 1.4rem;
	height: 7rem;
	background-color: var(--color-white);
	border-bottom: var(--borderline);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

// flex container
.content {
	display: flex;
}

.sidebar {
	background-color: var(--color-grey-dark-1);

	// grow:0 shrink:0 flex-basis:18% (width to cover of whats available for the flex container)
	flex: 0 0 18%;
}

.hotel-view {
	background-color: var(--color-white);
	// grow as much as whats left to grow up to
	flex: 1;

	// // temp stuff
	// height: 80rem;
}

.detail {
	display: flex;

	padding: 4.5rem;
	background-color: var(--color-grey-light-1);
	border-bottom: var(--borderline);

	&__description {
		font-size: 1.4rem;
		background-color: var(--color-white);
		box-shadow: var(--shadow-light);
		padding: 3rem;
		flex: 0 0 60%; //occupy 60% of the flex space
		margin-right: 4.5rem;
	}
	&__user-reviews {
		background-color: yellowgreen;

		flex: 1; //occupy the remaining flex space of 40%
	}
}
