// write up all CSS related to page layout here

.container {
	max-width: 120rem;
	margin: 8rem auto;
	background-color: var(--color-grey-light-1);
	-webkit-box-shadow: var(--shadow-dark);
	box-shadow: var(--shadow-dark);

	// temp size during design
	min-height: 50rem;

	@media only screen and (max-width: $bp-largest) {
		margin: 0;
		// width: 100%;
		max-width: 100%;
	}
}

// flex container
.header {
	font-size: 1.4rem;
	height: 7rem;
	background-color: var(--color-white);
	border-bottom: var(--borderline);

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	@media only screen and (max-width: $bp-smallest) {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-line-pack: distribute;
		align-content: space-around;
		height: 12rem;
	}
}

// flex container
.content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	// Relocate the vertical navbar @ side to the top of hotel title bar so we make room for the squezzed hotel info and reviews content
	@media only screen and (max-width: $bp-medium) {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}

.sidebar {
	background-color: var(--color-grey-dark-1);

	// grow:0 shrink:0 flex-basis:18% (width to cover of whats available for the flex container)
	-webkit-box-flex: 0;
	-ms-flex: 0 0 18%;
	flex: 0 0 18%;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.hotel-view {
	background-color: var(--color-white);
	// grow as much as whats left to grow up to
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;

	// // temp stuff
	// height: 80rem;
}

.detail {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	font-size: 1.4rem;
	padding: 4.5rem;
	background-color: var(--color-grey-light-1);
	border-bottom: var(--borderline);

	// decrease padding around the hotel description blocks
	@media only screen and (max-width: $bp-medium) {
		padding: 3rem;
	}

	//display all content in vertical order
	@media only screen and (max-width: $bp-small) {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	&__description {
		background-color: var(--color-white);
		-webkit-box-shadow: var(--shadow-light);
		box-shadow: var(--shadow-light);
		padding: 3rem;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 60%;
		flex: 0 0 60%; //occupy 60% of the flex space
		margin-right: 4.5rem;

		// decrease margin between the hotel description wings and the left wing padding
		@media only screen and (max-width: $bp-medium) {
			padding: 2rem;
			margin-right: 3rem;
		}

		@media only screen and (max-width: $bp-small) {
			margin-right: 0rem;
			margin-bottom: 3rem;
		}
	}
	&__user-reviews {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1; //occupy the remaining flex space of 40%

		display: -webkit-box;

		display: -ms-flexbox;

		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
